<script lang="ts" setup>
import { reactive, ref } from 'vue';

const dyamnicId = ref('MyID')
const titleclass = ref('red')
const myClasses = reactive({
    red: true,
    bold: true,
    underline: true
})
const myStyle = reactive({
    fontSize: '30pt',
    border: '2pt',
    borderStyle: 'solid'
})
myClasses.red = false
</script>

<template>
    <div :id="dyamnicId" :class="myClasses" :style="myStyle">{{ dyamnicId }}</div>
</template>

<style scoped>
.red{
    color: red;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

</style>