<script lang="ts" setup>
import DecarlationRendering from './components/DecarlationRendering.vue'
import AttributeBindings from './components/AttributeBindings.vue';
import EventListener from './components/EventListener.vue';
import FormBinding from './components/FormBinding.vue';
import CoditionalRendering from './components/CoditionalRendering.vue';
import ListRendering from './components/ListRendering.vue';
import BMIView from './views/BMIView.vue'
</script>

<template>
  <BMIView/>
  <!-- <CoditionalRendering/>
  <h1>Hello World</h1>
  <DecarlationRendering/>
  <AttributeBindings/>
  <EventListener/>
  <FormBinding/> -->
</template>